body{
  background: black;
  font-family: 'Varela', sans-serif;
}

.glitch{
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

/* Converted SASS-style random keyframes into fixed CSS keyframes.
   These approximate the glitch effect by changing the clipping rectangle
   at several percentage points. */
@keyframes noise-anim{
  0% { clip: rect(10px, 9999px, 40px, 0); }
  10% { clip: rect(30px, 9999px, 60px, 0); }
  20% { clip: rect(5px, 9999px, 50px, 0); }
  30% { clip: rect(45px, 9999px, 80px, 0); }
  40% { clip: rect(20px, 9999px, 55px, 0); }
  50% { clip: rect(60px, 9999px, 90px, 0); }
  60% { clip: rect(15px, 9999px, 35px, 0); }
  70% { clip: rect(40px, 9999px, 70px, 0); }
  80% { clip: rect(25px, 9999px, 65px, 0); }
  90% { clip: rect(55px, 9999px, 95px, 0); }
  100% { clip: rect(0px, 9999px, 30px, 0); }
}

.glitch:after{
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0px, 900px, 0px, 0px);
  /* slowed from 2s to 6s */
  animation: noise-anim 1ms infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  0% { clip: rect(20px, 9999px, 50px, 0); }
  10% { clip: rect(5px, 9999px, 25px, 0); }
  20% { clip: rect(35px, 9999px, 70px, 0); }
  30% { clip: rect(10px, 9999px, 40px, 0); }
  40% { clip: rect(50px, 9999px, 85px, 0); }
  50% { clip: rect(0px, 9999px, 20px, 0); }
  60% { clip: rect(45px, 9999px, 75px, 0); }
  70% { clip: rect(15px, 9999px, 35px, 0); }
  80% { clip: rect(60px, 9999px, 95px, 0); }
  90% { clip: rect(25px, 9999px, 60px, 0); }
  100% { clip: rect(0px, 9999px, 30px, 0); }
}

.glitch:before{
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0px, 900px, 0px, 0px);
  /* slowed from 3s to 9s */
  animation: noise-anim-2 9s infinite linear alternate-reverse;
}